body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}

/*
  Select the h1 element, make its text
  white and the background behind it green
*/
h1 {
  color : white;
  background : green;
}

/*
  Select any HTML element with the class
  attribute "red", and make its text red
*/
.red {
  color : red;
}
.fuzzybut {
border-radius: 53px;
background: #e09175;
box-shadow:  -15px -15px 37px #c37e66,
             15px 15px 37px #fda484;
}

.enjoy-css {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #0199d9;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.enjoy-move {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 100px;
  height: 100px;
  border: 2px solid rgba(0,150,255,0.91);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(0,150,255,0.91);
  -webkit-transition: margin 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: margin 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: margin 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: margin 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.enjoy-move:hover {
  margin: 0 0 0 184px;
  -webkit-transition: margin 320ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: margin 320ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: margin 320ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: margin 320ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
 background-color: #eee;
 color: #444;
 cursor: pointer;
 padding: 18px;
 width: 100%;
 text-align: left;
 font-size: 15px;
 border: none;
 outline: none;
 transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
 background-color: #ccc;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

/* Style the accordion panel. Note: hidden by default */
.panel {
 padding: 0 18px;
 background-color: white;
 max-height: 0;
 overflow: hidden;
 transition: max-height 0.2s ease-out;
}
